.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    justify-content: flex-start;
    margin-top: 20vh;
}

.login-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    width: 25%;
}

.title{
    margin: 0;
    width: 100%;
    font-size: 2rem;
    letter-spacing: 3px;
}

.login-box__form{
    padding: 12px 0px;
    margin-bottom: 24px;
    width: 100%;
}
.login-box__btn{
    margin-top: 12px;
    width: 100%;
}

.btns-container{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    text-align: center;
    justify-content: center;
    padding-top: 24px;
}

.btns-container__text-info{
    width: 100%;
    padding-bottom: 12px;
}

.google-logging-btn,
.facebook-logging-btn{
    display: flex;
    align-items: center;
}

.google-logging-btn{
   margin-right: 6px;
}

.facebook-logging-img,
.google-logging-img{
    width: 34px;
}