.formInput{
    border-radius: 10px;
    border: 2px solid transparent;
    padding: 8px 0px;
    font-weight: 500;
    outline: none;
    width: 100%;
}

.formInput:focus-visible{
    border-color: var(--color-primary);
}