.navigation{
    width: 100%;
    height: 64px;
    position: fixed;
    top: 0px;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    background-color: var(--color-white);
    box-shadow: 0 4px 16px -8px #c0c8d1;
}
.navigation__left-block{
    display: flex;
    align-items: center;
    width: 45%;
}
.navigation__list{
    display: none;
    flex-flow: row wrap;
    padding: 0;
    margin: 0;
    list-style-type: none;
    align-items: center;
    height: 64px;
}
.navigation__item{
    padding: 0px 12px;
    font-size: 18px;
    font-weight: 600;
}
.navigation__item--active a{
    color: var(--color-text-primary);
}
.navigation__right-block{
    width: 45%;
    display:flex;
    flex-flow:row wrap;
    align-items:center;
    justify-content: right;
}
.sandwidch-btn{
    background-color: transparent;
    border: none;
}
.sandwidch-btn:hover{
    background-color: transparent;
    border: none;
}
.sandwidch-btn:focus, .sandwidch-btn:focus-visible {
    outline: none;
}
.sandwidch-btn__img{
    display: block;
    width: 32px;
    margin: auto;
    color: #0076ff;
    transition: color .15s linear,transform .15s linear;  
    margin: 0;
    background: transparent;
}

.sandwidch-btn__img:hover{
    transform: scale(1.1) translateZ(0);
}

@media (prefers-color-scheme: dark) {
    .navigation {
      background-color: var(--color-dark-secondary);
      box-shadow: 0 4px 16px -8px #3e3e3e;
    }
    .navigation__item--active a{
        color: var(--color-text-dark-primary);
    }
}

@media screen and (min-width: 768px){
    .navigation__list{
        display: flex;
    }
}