.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.category-row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:16px;
}
.card-preview{
    padding: 0px;
}
.card-preview-mobile{
    width: 100%;
    margin: auto;
    padding: 0;
}
.btn-desktop{
    margin-right: 4px;
}
.preview{
    width: 100%;
    height: 82vh;
    border-radius: 10px;
    padding-top: 12px;
    overflow: auto;
    background-color: white;
}
.preview__img{
    width: 100%;
}
.product-form{
    width: 100%;
    height: 80vh;
    overflow-y: scroll;
}
.product-form__category{
    display: grid;
    grid-template-columns: 7fr 1fr;
    align-items: end;
}
.product-form__category__btn{
    height: 56px;
    width: 30px;
    margin-left: 4px;
    margin-bottom: 20px;
    padding: 0;
}
.description{
    height: 250px;
}

.create-product-btn{
    width: 100%;
}

@media (min-width: 768px){
    .card-preview-mobile{
        width: 80%;
    }
}

@media (min-width: 1024px){
    .card-preview-mobile{
        width: 60%;
    }
}