.main-frame{
    margin: 64px auto;
    width: 100%;
}

@media (min-width: 768px){
    .main-frame{
        width: 100%;
    }
}

@media (min-width: 1024px){
    .main-frame{
        width: 95%;
    }
}