
.form{
    padding: 12px 0px;
    margin-bottom: 24px;
}

.formInput{
    border-radius: 10px;
    border: 2px solid var(--color-primary);
    padding: 8px 0px;
    font-weight: 500;
    font-size: 18px;
    outline: none;
    width: 99%;
    height: 24px;
    margin-bottom: 12px;
    background-color: transparent;
}

.formInput:focus-visible{
    border-color: var(--color-primary);
}